<body>
    <div class="hero-section">
        <h1 class="shop-title">Find Your Next Page-Turner</h1>
        <div class="select-genre">
            <select class="form-select" [(ngModel)]="selGenre1">
                <option value="any">Any</option>
                <option *ngFor="let g of genres" [value]="g">{{ g }}</option>
            </select>
            <select class="form-select" [(ngModel)]="selGenre2">
                <option value="any">Any</option>
                <option *ngFor="let g of genres" [value]="g">{{ g }}</option>
            </select>
              <button (click)="search()" type="button" class="btn btn-outline-light">Search</button>             
        </div>
        <p class="tagline"></p>
    </div>

    <div class="books">
        <div class="row text-center row-cols-1 row-cols-md-3 row-cols-lg-3">
            <div class="col mb-4" *ngFor="let t of sortedBooks">
                <div class="card" [routerLink]="['/book', t.id]">
                    <img [src]="t.coverImg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{t.title}}</h5>
                        <h6 class="card-subtitle mb-2 author"> {{t.author}}</h6>
                        <p class="card-subtitle mb-2 price">${{t.price}}</p>
                        <p class="card-text">{{t.shortDesc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

