<body>
    <div class="hero-section">
        <h1 class="title text-center">
            About Us
        </h1>
        <div class="container-fluid">
          <div class="row hero-head">
            <div class="col-md-6 test">
                <div class="wlcm">
                    <p>Welcome to BookBarn, your one-stop destination for all your reading needs. At BookBarn, we believe that books can inspire, educate, and entertain, and we are dedicated to helping our customers discover the joy of reading.</p>
                </div>
            </div>
            <div class="col-md-6 test">
                <div class="brand">
                    <img class="logo img-fluid" src="assets/images/BookBarnW.png" alt="book">
                    <p class="brand-name">Book Barn</p>
                </div>
            </div>
            <div class="team">
                <p>Our team consists of experienced professionals who are passionate about books and dedicated to providing the best possible customer service. We work hard to ensure that our customers have a seamless and enjoyable shopping experience, from browsing our extensive selection to receiving their orders in a timely and efficient manner.</p>
            </div>
          </div>
        </div>
    </div>
</body>