<footer>
    <div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 test brand-section">
                <div class="brand">
                    <img class="logo img-fluid" src="assets/images/BookBarnW.png" alt="book">
                </div>
                <p class="tagline">
                    From bestsellers to hidden gems, find them all at Book Barn.
                </p>
            </div>
            <div class="col-md-1 test column2">
                <p routerLink="/about-us">About</p>
                <p routerLink="/contact">Contact </p>
            </div>
            <div class="col-md-2 test terms">
                <p>Terms and Conditions</p>
                <p>Privacy Policy</p>
                <p>Cookie Policy</p>
            </div>
            <div class="col-md-1 test social">
                <p><i class="fa fa-instagram" aria-hidden="true"></i></p>
                <p><i class="fa fa-facebook" aria-hidden="true"></i> </p>
                <p><i class="fa fa-twitter" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
    </div>
</footer>